.hidden-form {
  display: none;
  margin-top: 15px;
}

.hidden-form.visible {
  display: block;
}

#main-container {
  display: flex;
  width: 100%;
}

#sidebar {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}